@tailwind base;

@layer base {
  /* Sets the selection background colour and text colour */
  * {
    @apply selection:bg-brandClay selection:text-black;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro-45Lt';
  src: url('./fonts/NHaasGroteskDSPro-45Lt.woff2') format('woff2'),
    url('./fonts/NHaasGroteskDSPro-45Lt.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro';
  src: url('./fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
    url('./fonts/NHaasGroteskDSPro-55Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGroteskDisp Pro-65Md';
  src: url('./fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
    url('./fonts/NHaasGroteskDSPro-65Md.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin MT Pro';
  src: url('./fonts/PlantinMTPro-Light.woff2') format('woff2'),
    url('./fonts/PlantinMTPro-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin MT Pro Italic';
  src: url('./fonts/PlantinMTPro-LightItalic.woff2') format('woff2'),
    url('./fonts/PlantinMTPro-LightItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@layer base {
  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-nhaasReg;
    @apply font-medium;
    @apply text-black;
    @apply text-md;
  }

  hr {
    @apply mb-10 border-0 border-t border-current md:mb-15;
  }
}

@layer components {
  .button {
    @apply inline-flex h-[50px]
    items-center 
    px-[28px] 
    font-nhaasMd text-md leading-[19px]
    transition-all duration-200 ease-in-out;
  }

  .button--large {
    @apply px-[58px];
  }

  .button--full {
    @apply self-stretch;
  }

  .button--icon {
    @apply inline-flex items-center px-[28px];
  }

  .button--icon-lt svg {
    @apply mr-2;
  }

  .button--icon-rt svg {
    @apply ml-2;
  }

  .button--icon svg {
    @apply h-[12px] w-[14px] fill-current stroke-current;
  }

  /* PRIMARY BUTTON */
  .button--primary {
    @apply bg-white text-[#333];
  }

  .button--primary:hover {
    @apply bg-[#f3f3f3];
  }

  .button--primary:disabled {
    @apply cursor-not-allowed opacity-20;
  }

  /* SECONDARY BUTTON */
  .button--secondary {
    @apply border border-black 
    bg-white text-black outline outline-1 outline-transparent;
  }

  .button--secondary:hover {
    @apply outline-black;
  }

  .button--secondary:disabled {
    @apply cursor-not-allowed opacity-20 hover:outline-transparent;
  }

  /* TERTIARY BUTTON */
  .button--tertiary {
    @apply border border-brandBrick bg-brandBrick text-black outline outline-1 outline-transparent transition-all;
  }

  .button--tertiary:hover {
    @apply bg-brandAsphaltDark hover:border-brandAsphaltDark;
  }

  .button--tertiary:disabled {
    @apply cursor-not-allowed opacity-20 hover:outline-transparent;
  }

  /* OPTION LABEL */

  .option-label {
    @apply relative m-[5px] flex h-[46px] min-w-[46px] cursor-pointer items-center justify-center overflow-hidden border font-nhaasReg text-sm uppercase ring-offset-2 transition-colors focus:outline-none focus:ring focus:ring-brandBlue;
  }

  .option-label--selected {
    @apply bg-black text-white;
  }

  .option-label:hover {
    @apply bg-black text-white;
  }

  .option-label--disabled {
    @apply opacity-50 hover:text-brandAsphalt;
  }

  .option-label__cross {
    @apply before:absolute before:-top-[27px] before:-bottom-[10px] before:left-0 before:right-0 before:z-10 before:block before:translate-x-[-49%] before:rotate-45 before:border-r before:opacity-50;
  }

  /* OPTION LABEL COLOUR */

  .option-label-colour {
    @apply relative block h-[28px] w-[28px] cursor-pointer rounded-full border-[3px] border-white bg-cover bg-center bg-no-repeat text-[0px];
  }

  .option-label-colour--selected {
    @apply shadow-[0_0_0_1px_rgba(0,0,0,1)];
  }

  /* TEXT LINK */
  .text-link {
    @apply underline underline-offset-4 ring-offset-2 focus:outline-none focus:ring focus:ring-brandBlue;
  }

  .text-link-underline {
    @apply relative flex cursor-pointer self-start leading-caption ring-offset-2 after:absolute after:right-0 after:-bottom-px after:left-0 after:z-50 after:m-auto after:block after:h-px after:w-full after:scale-x-0 after:bg-current after:transition-transform hover:after:scale-[1] focus:outline-none focus:ring focus:ring-brandBlue;
  }

  .text-link--disabled {
    @apply pointer-events-none opacity-20;
  }

  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }

  /* KLAVIYO */

  #klaviyo-form input:is(:-webkit-autofill, :-webkit-autofill:focus) {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  /* #klaviyo-form input:-internal-autofill-selected {
    appearance: none;
    background-image: none !important;
    background-color: black !important;
    color: white !important;
  } */
  body .klaviyo-form.klaviyo-form.klaviyo-form {
    max-width: 100% !important;
  }

  body #klaviyo-form.klaviyo-form-Q928hi input[name='email'],
  body #klaviyo-form.klaviyo-form-Rsgppt input[name='email'] {
    @apply !m-0 !h-auto !w-auto !border-0 !border-b !bg-transparent !py-[10px] !pr-8 !pl-0 !font-nhaasReg !text-sm !leading-[0.75] !text-white placeholder:!font-nhaasReg placeholder:!text-sm placeholder:!text-white;
  }

  body
    #klaviyo-form.klaviyo-form-Q928hi
    form
    > div
    > div
    > div:nth-child(2)
    button,
  body
    #klaviyo-form.klaviyo-form-Rsgppt
    form
    > div
    > div
    > div:nth-child(2)
    button {
    @apply relative !border-0 !bg-transparent !text-[0px] after:!block after:!h-3 after:!w-[31px] after:!cursor-pointer after:!bg-form-arrow after:!bg-contain after:!bg-center after:!bg-no-repeat;
  }

  body #klaviyo-form.klaviyo-form-Q928hi form > div > div > div:nth-child(2),
  body #klaviyo-form.klaviyo-form-Rsgppt form > div > div > div:nth-child(2) {
    flex: 0 0 31px !important;
    position: absolute !important;
    top: 50%;
    right: 0;
    margin-top: -2px;
    transform: translateY(-50%);
  }
  .klaviyo-form .needsclick {
    background-color: black !important;
    color: white !important;
    height: auto !important;
    text-align: left !important;
  }

  .embla {
    position: relative;
  }

  .embla__viewport {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }

  .embla__viewport.is-dragging {
    cursor: grabbing;
  }

  .embla__container {
    display: flex;
    user-select: none;
    margin-left: -20px;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .embla__slide {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    /* it is needed to be code review. */
    /* padding-left: 20px;  */
    height: 35px;
    color: #fff;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #fff;
    padding: 0;
  }

  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }

  .embla__button__svg {
    width: 100%;
    height: 100%;
  }

  .embla__button--prev {
    left: 27px;
  }

  .embla__button--next {
    right: 27px;
  }

  .embla__dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
    z-index: 101;
  }

  .embla__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }

  .embla__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: '';
  }

  .embla__dot.is-selected:after {
    background-color: #1bcacd;
    opacity: 1;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  .select {
    align-items: center;
    /* background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full'); */
    color: theme('colors.black');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

* {
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.c-video {
  @apply aspect-[375/500] sm:aspect-[1439/615];
}

.c-video[data-autoplay] {
  pointer-events: none;
}

.c-video--contain iframe,
video {
  width: 100%;
  height: 800px;
  pointer-events: none !important;
  object-fit: cover;
}

.c-video--cover iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-video__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  transform: translateY(0);
}

#mmContentReferrerStage1 {
  width: 960px;
  margin-top: 40px;
}

@media only screen and (max-width: 960px) {
  #mmContentReferrerStage1 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .c-video__container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%) translateX(0);
  }

  .c-video--contain iframe,
  video {
    height: 500px;
  }
}

.c-video__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.c-video__image[data-state='visible'] {
  opacity: 1;
}

.c-video__image[data-state='hidden'] {
  transition-delay: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.c-video__btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.c-video__play-btn {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: red;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-in-out;
  backface-visibility: visible;
  perspective: 400px;
}

.c-video__play-btn svg {
  display: table;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.c-video__play-btn[data-state='hidden'] {
  display: none;
}

.c-video__play-btn[data-state='idle']:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.c-video__play-btn[data-state='paused'] {
  animation: show 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes show {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }

  40% {
    transform: rotate3d(0, 1, 0, -20deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: rotate3d(0, 1, 0, -5deg);
  }

  to {
    opacity: 1;
  }
}

.c-video__play-btn[data-state='playing'] {
  animation: hide 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes hide {
  30% {
    transform: rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.hide {
  visibility: hidden;
  height: 0;
}

/* REACT TABS */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
  font-weight: 500;
  font-family: 'NHaasGroteskDSPro-65Md';
}

.react-tabs__tab {
  width: 330px;
  margin-bottom: -1px;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
  list-style: none;
}

.react-tabs__tab--selected {
  color: #000;
  border-bottom: 3px solid black;
  font-weight: 500;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.fslightbox-slide-number-container {
  display: none !important;
}

.fslightbox-container {
  background: #0006 !important;
}

.fslightbox-slide-btn {
  background: none !important;
}

/* Product */

.label__cross::before {
  display: block;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  content: '';
}

.label__cross::before {
  top: -10px;
  right: 0;
  bottom: -10px;
  left: 0;
  transform: rotate(45deg) translate(-49%, 0%);
  border-right: solid 1px #000000;
}

.product-options__button.option_active,
.product-options__label:hover {
  background: #000000;
  color: #fff;
}

.product-options__button_disabled.product-options__button {
  opacity: 0.5;
}

.product-variants__option-title {
  font-size: 14px;
  font-family: 'NHaasGroteskDSPro-55Rg';
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-top: 20px;
  margin-bottom: 5px;
  position: relative;
  color: #000;
}

.product-options__button {
  letter-spacing: 0.05em;
  border: 1px solid #000000;
  margin: 5px;
  transition: all 0.2s;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 46px;
  height: 46px;
}

.product-information__price {
  margin: 20px 0 5px;
  color: #000;
  font-family: 'NHaasGroteskDSPro-55Rg';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.product-information__title {
  font-family: 'PlantinMTPro-Light';
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  margin-top: 50px;
}

.product-information__cta {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  text-transform: initial;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  height: 50px;
  padding: 0 39px;
  border: 1px solid #000000;
}

.product-information__cta.out-of-stock {
  border: 1px solid black;
  background-color: white !important;
  color: black !important;
}

.soldoutvariant {
  background: linear-gradient(
    to top left,
    transparent calc(50% - 1px),
    #bdbdbd,
    transparent calc(50% + 1px)
  );
  color: #bdbdbd !important;
  /* border: 1px solid #BDBDBD !important; */
}

.collection-filter {
  height: calc(100vh - 287px);
}

.no-size-selected::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 75%;
  height: 1px;
  background-color: #000;
  transform-origin: center center;
  transform: translate(-50%, 50%) rotate(-45deg);
  opacity: 0.5;
}

.drawer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: white;
  color: black;
  border: 1px solid black;
  position: relative;
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: all 0.2s;
  text-transform: uppercase;
}
.drawer-button:hover,
.drawer-button.active {
  background-color: black;
  color: white;
}
.drawer-button.out-of-stock {
  opacity: 0.5;
  background: #8b8888 !important;
  color: #222 !important;
  cursor: auto;
  /* cursor: not-allowed; */
}

.drawer-button.out-of-stock:after {
  content: '';
  position: absolute;
  top: 48%;
  left: 51%;
  right: 0;
  width: 142%;
  height: 1px;
  background-color: #000;
  transform-origin: center center;
  transform: translate(-50%, 50%) rotate(-45deg);
  opacity: 0.5;
}
.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #cbc4c4;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menu-link::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: currentColor;
  z-index: 201;
  content: '';
}

.menu-link:hover:after {
  opacity: 1;
}

.focus-outline:focus,
.focus-outline:focus-within,
.focus-outline:focus-visible {
  outline-style: inset !important;
  outline-width: 3px;
  outline-color: #639af9;
  outline-offset: 5px;
}

.hide {
  display: none;
}

.yotpo-stars,
.yotpo-custom__ratings-stars {
  --percent: calc(var(--rating) / 5 * 100%);
}

.yotpo-stars:before,
.yotpo-custom__ratings-stars:before {
  content: '\2605\2605\2605\2605\2605';
  background: linear-gradient(
    90deg,
    #b8a08f var(--percent),
    #fff var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Times;
}

.yotpo-stars:before {
  margin-right: 5px;
  letter-spacing: 0px;
}

.fitment-bar__item {
  flex: 1;
  width: 100px;
  height: 8px;
}

.yotpo-custom__review-title {
  height: 70px;
  line-height: 34px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.yotpo-custom__review-content {
  display: -webkit-box;
  height: auto;
  transition: all ease 0.3s;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.portableText .hero-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
  overflow: auto;
  list-style: none;
}

.hero-menu__item {
  padding-bottom: 7px;
  transition: 0.3s;
  color: #000;
  letter-spacing: 0.05em;
  line-height: 20px;
  white-space: nowrap;
  margin: 0 30px;
}

.fw-medium {
  font-weight: 500;
}

.link_hover_expand {
  position: relative;
}

.link_hover_expand:hover {
  border-bottom: 1px solid black;
}

/* .size-info-header::before {
  position: absolute;
  top: ;
} */

.header__menu-list-item .header__submenu {
  opacity: 0;
  -webkit-transition: width 0.1s linear 0.4s, opacity 0.4s;
  transition: width 0.1s linear 0.4s, opacity 0.4s;
  width: 0;
  z-index: 5;
}

.header__menu-list-item:hover .header__submenu .header__submenu__backdrop {
  top: 100%;
  height: calc(100vh - 100%);
  background: #00000080;
  position: absolute;
  width: 100vw;
  left: 0;
}

.header__menu-list-item:hover
  .header__submenu
  .header__submenu__backdrop:hover {
  width: 0;
}

.header__menu-list-item:hover .header__submenu {
  opacity: 1;
  width: 100vw;
  -webkit-transition: width 0.4s, opacity 0.4s 0.4s;
  transition: width 0.4s, opacity 0.4s 0.4s;
}

.header__menu-list-item:hover > .menu-link:after {
  opacity: 1;
}

/* spinner */

.loader-wrapper {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  background-color: rgba(255, 255, 255, .7);
  opacity: 0;
  visibility: hidden;;
  transition: all .35s;
  z-index: 10;
}

.active.loader-wrapper {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: black;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
      box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
      box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
      box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
      box-shadow: 0 2.5em 0 0;
  }
}
